* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body, div.container-fluid {
    background-color: #1d1d1d;
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: white;
    display: inline-block;
    font-size: 2.5em;
    margin-bottom: 0px;
}

p {
    color: white;
    text-align: left;
    font-size: 1.78em;
}

p.subtext {
    color: #5c5c5c;
    margin-bottom: 26.8px;
}

p.subtext-xl {
    font-size: 1.15em;
}

div.project-container {
    margin-bottom: 75px;
}

img.project-thumb {
    display: block;
    box-shadow: 25px 25px #0c0c0c;
    width: 100%;
    margin-bottom: 50px;
}

a.no-dec {
    text-decoration: ;
}

a {
    color: white;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    font-size: 2.03em;
    text-shadow: 5px 5px #0c0c0c;
    margin-left: 30px;
}

h2#donut {
    color: #d99bd6;
}

h2#prism {
    color: #eb7070;
}

h2#hotel {
    color: #ffe7b3;
}