* {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #1d1d1d;
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

h1 {
    display: inline-block;
    font-size: 2.5em;
}

div.project-container {
    width: 50%;
}

img.project-thumb {
    display: block;
    box-shadow: 25px 25px #0c0c0c;
    width: 100%;
    margin-bottom: 50px;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    text-indent: 50px;
    font-size: 2.03em;
    text-shadow: 5px 5px #0c0c0c;
}

h2#donut {
    color: #d99bd6;
}

h2#prism {
    color: #eb7070;
}

h2#hotel {
    color: #ffe7b3;
}